<div class="row">
    <div class="col-6 offset-3">
        <div class="card mt-3">
            <div class="card-body">
                <div class="card-title text-center">
                    <h2>Register new user!</h4>
                </div>
                <div>
                    <center>
                        <img src="https://media.istockphoto.com/vectors/vector-illustration-of-cute-baby-penguin-cartoon-waving-isolated-on-vector-id1126018593?k=20&amp;m=1126018593&amp;s=170667a&amp;w=0&amp;h=OXwt460sLvkwTCMCv7pXrTZSkOwe9sSbpULV7w9HqJc="
                            style="width: 50%;">
                    </center>
                </div>
                <div class="card">
                    <form action="/register" method="POST">
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label" for="username">Enter Username: </label>
                                <input class="form-control" type="text" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Enter Password: </label>
                                <input class="form-control" type="password" id="password" name="password" required>
                            </div>
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </form>
                    <hr>
                    <div class="list-group mb-3 mx-3">
                        <a href="/todolist" class="list-group-item list-group-item-action active"
                            aria-current="true">All todos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>